@page "/"
@inject IJSRuntime JSRuntime
@inject IWebHostEnvironment WebHostEnvironment

<PageTitle>Index</PageTitle>

<h1>PDFをiframeを表示する</h1>
@if (pdfUrl != null)
{
    <iframe src="@pdfUrl" width="100%" height="600px"></iframe>
}

@code{
    public string? pdfUrl = $"/download/Test.pdf";
}

@* base64バージョン *@
@* @page "/"
@inject IJSRuntime JSRuntime
@inject IWebHostEnvironment WebHostEnvironment

<PageTitle>Index</PageTitle>

<h1>PDFをiframeを表示する</h1>

<iframe src="@($"data:application/pdf;base64,{pdfBase64}")" width="100%" height="600px"></iframe>

@code {
    public string? pdfBase64;

    protected override async Task OnInitializedAsync()
    {
        var filePath = Path.Combine(WebHostEnvironment.WebRootPath, "download", "Test.Pdf");
        var fileBytes = await File.ReadAllBytesAsync(filePath);
        pdfBase64 = Convert.ToBase64String(fileBytes);
    }
} *@
