@page "/"
@inject IJSRuntime JSRuntime
@inject IWebHostEnvironment WebHostEnvironment

<PageTitle>Index</PageTitle>

<h1>PDFをiframeを表示する</h1>
@if (pdfUrl != null)
{
    <iframe src="@pdfUrl" width="100%" height="600px"></iframe>
}

@code{
    public string? pdfUrl;

    /// <summary>
    /// 初期化（非同期）
    /// </summary>
    protected override void OnInitialized()
    {
        // WebRootPathを使ってPDFファイルのURLを取得
        var filePath = Path.Combine(WebHostEnvironment.WebRootPath, "download", "Test.Pdf");
        pdfUrl = $"/download/Test.Pdf";
    }
}
