@page "/"
@inject IJSRuntime JSRuntime
@inject IWebHostEnvironment WebHostEnvironment

<PageTitle>Index</PageTitle>

<h1>PDFをiframeを表示する</h1>
<iframe src="@($"data:application/pdf;base64,{pdfBase64}")" width="100%" height="600px"></iframe>

@code{
    /// <summary>
    /// テスト用のPDFデータをbase64へ変換したもの
    /// </summary>
    public string? pdfBase64;

    /// <summary>
    /// 初期化（非同期）
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        var filePath = Path.Combine(WebHostEnvironment.WebRootPath, "download", "Test.Pdf");
        var fileBytes = await File.ReadAllBytesAsync(filePath);
        pdfBase64 = Convert.ToBase64String(fileBytes);
    }
}
