@page "/"

<PageTitle>PageTitleテスト</PageTitle>

<HeadContent>
    @* HeadContentによって、追加された要素 *@
    <meta name="description" content="HeadContentで追加された要素" />
</HeadContent>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
