
@* RenderFragmentを使用したコンポーネントの使用例 *@

@page "/renderfragmenttest"

<Blazor_RenderFragment.Components.RenderFragmentComponent>

    <ChildContent>

        <div>実装先のコンテンツ</div>

    </ChildContent>

</Blazor_RenderFragment.Components.RenderFragmentComponent>

@code {

}
