<select @bind="SelectedFruit">
    @foreach (var fruit in fruits)
    {
        <option value=@fruit>@fruit</option>
    }
</select>

<p>選択されたフルーツ：@SelectedFruit</p>

@code
{
    public string SelectedFruit { get; set; } = "Apple";

    private List<string> fruits = new List<string>
    {
        "Apple",
        "Banana",
        "Orange"
    };
}

