
@* RenderFragmentを使用したコンポーネント例 *@

<h3>RenderFragmentComponent</h3>

@*実装先で内容を決める部分*@
@ChildContent

@code {

    /// <summary>
    /// 実装先で指定するページの固有部分
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent{ get; set; }

}
