@page "/parent"
@using Blazor_Ref.Components;

<ChildComponent @ref="childRef" />

<button @onclick="UpdateChildMessage">子コンポーネントのメッセージを更新</button>

@code {
    private ChildComponent? childRef;

    protected override void OnInitialized()
    {
        // 初期化時 childRef は null になっている
        //childRef?.UpdateMessage("新しいメッセージ");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // if (firstRender)
        // {
        //     // OnAfterRenderはレンダリング後の処理なので childRef は null ではありません
        //     childRef?.UpdateMessage("レンダリング後の更新メッセージ");
        // }
    }

    private void UpdateChildMessage()
    {
        childRef?.UpdateMessage("ボタンによるメッセージ更新");
    }
}
