@page "/download"
@inject IJSRuntime JSRuntime
@inject IWebHostEnvironment WebHostEnvironment

<h3>ダウンロード検証</h3>
<hr />
<p>[wwwroot/download/Test.pdf]をダウンロード</p>
<button @onclick="DownloadFileAsync">ダウンロード</button>

@code {
    private async Task DownloadFileAsync()
    {
        // ファイルのバイナリデータを取得
        var filePath = Path.Combine(WebHostEnvironment.WebRootPath, "download", "Test.Pdf");
        var fileBytes = await File.ReadAllBytesAsync(filePath);
        var fileName = "Test.Pdf";
        var contentType = "application/pdf";

        // JavaScriptの関数（downloadFromByteArray）を呼び出して、ダウンロードを開始する
        await JSRuntime.InvokeVoidAsync(
            "downloadFromByteArray",
            new
            {
                byteArray = fileBytes,
                contentType = contentType,
                fileName = fileName
            });
    }
}
